<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: header-links}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <nav th:replace="~{fragments :: navbar('songs')}"></nav>

    <div class="text-center">

        <h1 class="my-5">Song detail</h1>

        <div class="d-flex align-items-center justify-content-center">
            <h1>Title: </h1>
            <h1 class="my-color" th:text="${song.title}"></h1class>
        </div>
        <div class="d-flex align-items-center justify-content-center">
            <h1>Id: </h1>
            <h1 class="my-color"  th:text="${song.id}"></h1>
        </div>

    </div>


</body>
</html>