<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments :: header-links}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <nav th:replace="~{fragments :: navbar('songs')}"></nav>

    <h1 class="text-center my-4">Best Songs </h1>

    <ul class="text-center w-50">
        <li class="b1x p-3 " th:each=" s : ${songList}">
            <a th:href="@{|/songs/${s.id}|}" th:text="${s.title}"></a>
        </li>
    </ul>

</body>
</html>